body {
  background-color: #272a37;
  font-family: Roboto , sans-serif;
}

.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}

.Header {
  color: white;
  display: flex;
  font-size: 30px;
  justify-content: center;
  margin-top: 50px;
  max-width: 100%;
}

span {
  color: #3187e7;
}

.containerInitialBtn {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.containerInitialBtn button {
  background-color: #3590f5;
  border: none;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding: 17px 38px;
}

hr {
  margin-top: 58px;
  width: 291px;
}

.initialPText {
  color: #838383;
  display: flex;
  font-size: 26px;
  justify-content: center;
  margin-top: 200px;
}

.locker-container {
  display: flex;
  justify-content: center;
}

.lockerIMG {
  opacity: 0.4;
  width: 50px;
}

section {
  align-items: center;
  background-color: #1e2029;
  border-radius: 10px;
  display: flex;
  margin: auto;
  padding: 36px 30px;
  width: 897px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 523px;
}

form fieldset {
  border: none;
}

fieldset label {
  color: #8d8d8d;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 4px;
  width: 532px;
}

fieldset label input {
  background-color: #3b3f50;
  border: none;
  border-radius: 10px;
  height: 52px;
}


.fieldsetLoginSenha {
  display: flex;
  gap: 16px;
}

.fieldsetLoginSenha label {
  width: 280px;
}

.fieldsetLoginSenha label:first-child {
  width: 236px;
}

form p {
  color: #8d8d8d;
  margin-left: 12px;
}

.fieldsetButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fieldsetButtons button {
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

.cadastrarButton {
  background-color: #3590f5;
  border-radius: 100px;
  color: white;
  padding: 17px 66px;
}

.cancelButton {
  background-color: transparent;
  color: #3590f5;
  padding: 0;
}

.validation-display {
  align-self: flex-start;
  background-color: #252730;
  border-radius: 10px;
  color: #f58989;
  margin-top: 75px;
  padding: 23px;
}
