body {
  background-color: #272a37;
  font-family: Roboto , sans-serif;
}

.cardList-container {
  align-items: end;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: auto;
  width: 1250px;
}

.cardList-container label {
  color: #3590f5;
  font-size: 14px;
  font-weight: 400;
}

.cards-subContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 87px;
  justify-content: start;
  width: 100%;
}

