body {
  background-color: #272a37;
  font-family: Roboto , sans-serif;
}

.cardList-container {
  display: flex;
  flex-wrap: wrap;
  gap: 87px;
  justify-content: center;
  margin: auto;
  width: 1250px;
}

.hide-passwords {
  color: #3590f5;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  margin-left: 900px;
  margin-top: 30px;
}

.hide-passwords label {
  display: flex;
  gap: 8px;
}
